## Slack config
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=

## Spreadsheet config
GOOGLE_SERVICE_ACC_EMAIL= #email of google service account
GOOGLE_SERVICE_ACC_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
key
key
key
-----END PRIVATE KEY-----
' #private key of google service account in this exact format (no special characters like line breaks)

## App config
APP_ADMIN= #admin of the app who should receive logs
PORT=8080
APP_ADMIN_CHANNEL= #channel for logs as files can't be sent in direct messages anymore

## Staette config
STAETTE_CHANNEL= #channel for staette polls
CRONJOB_LOG_TO_ADMIN=X #X for log

## Signature config
SIGNATURE_SIGNING_SECRET= #signing secret in docuseal for webhooks
SIGNATURE_HEADER_NAME=X-Sam-Signature #header name for signature verification
APPLICATION_FORM_TEMPLATE_ID= #template ID for application form in docuseal
SIGNATURE_WORKFLOW_SLACK_WEBHOOK='https://hooks.slack.com/triggers/xxxx' # slack webhook URL to start application process

## Arbeitsstunden config
SPREADSHEET_ID_MASTERDATA= #spreadsheet with masterdata

## Meldungen config
SPREADSHEET_ID_MELDUNGEN= #spreadsheet with meldungen
MELDUNGEN_ADMIN_CHANNEL=C08NZS2GL9Y #channel for meldungen admin messages