version: "3.9"

services:
  slack-arbeitsstunden-bot:
    image: roylotzwik/slack-arbeitsstunden-bot:latest
    container_name: slack-arbeitsstunden-bot
    volumes:
      - ./volume:/var/lib/files
    restart: always
    environment:
      SHEET_ID: #
      GOOGLE_APPLICATION_CREDENTIALS: #
      SLACK_SIGNING_SECRET: #
      SLACK_BOT_TOKEN: #
      PORT: 8080
      STAETTE_CHANNEL: CHW68AJQ2
    #    ports:
    #      - "8080"
    networks:
      - proxy
      - default

networks:
  proxy:
    external:
      name: proxy
